@import "./resets.css";
@import "./variables.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-white);
  width: 100%;
  height: fit-content;
  position: fixed;
  left: 0;
  z-index: 99;
  top: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}

.navbar__links,
.navbar__btns {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--color-dark);
  font-size: var(--step--1);
  display: block;
  padding: 0.75rem 1.5rem;
  border-radius: 5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: 0.25s ease-in-out;
  transition-property: color;
}

.navbar__link::after {
  content: "";
  height: 100%;
  /* border-radius: 0.1rem; */
  width: 100%;
  background-color: var(--color-dark);
  position: absolute;
  left: 0;
  scale: 0 1;
  transform-origin: left;
  bottom: 0;
  transition: 0.25s ease-in-out;
  z-index: -1;
}

.navbar__link:hover::after {
  scale: 1 1;
}

.navbar__link:hover {
  color: var(--color-white);
}

.navbar__link:focus {
  outline: 0.125rem dashed var(--color-dark);
}

.navbar__logo {
  color: var(--color-dark);
  font-weight: var(--fw-bold);
  font-size: var(--step-1);
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.5rem;
}

.navbar__logo:focus {
  outline: 0.125rem dashed var(--color-dark);
}

/* Primary Button */
.btn-primary {
  text-decoration: none;
  font-weight: var(--fw-medium);
  color: var(--color-primary);
  border-radius: 5rem;
  padding: 0.75rem 1.5rem;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: var(--step--1);
  display: inline-block;
}

.btn-primary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.btn-primary:focus,
.btn-secondary:focus {
  outline: 0.125rem dashed var(--color-primary);
}

/* Secondary Button */
.btn-secondary {
  font-weight: var(--fw-medium);
  color: var(--color-dark);
  font-size: var(--step--1);
  text-decoration: none;
  outline: 0.125rem solid var(--color-primary);
  padding: 0.75rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  display: inline-block;
}

.btn-secondary:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  height: 45rem;
  padding: 6rem;
}

.hero__content {
  max-width: 50rem;
}

.hero-home {
  background-image: url("../img/hero-home.jpg");
  background-size: cover;
  background-position: left;
}

.hero__title {
  font-size: var(--step-5);
  margin-bottom: 1rem;
  color: var(--color-white);
}

.hero__text {
  color: var(--color-white);
  font-size: var(--step-0);
  margin-bottom: 1rem;
}

/* Section */
.section {
  padding: 6rem;
}

.section__title {
  font-size: var(--step-2);
  margin-bottom: 1rem;
}

.section__text {
  font-size: var(--step-0);
}

/* important */
.section-imp {
  text-align: center;
  padding-inline: 12rem;
}

.section-imp .section__title {
  font-size: var(--step-3);
}

.section-imp .section__text {
  font-size: var(--step-1);
}

.models__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.models__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  border-radius: 0.5rem;
}

.models__card--title {
  font-size: var(--step-2);
}

.plus {
  background-image: linear-gradient(145deg, orangered, rgb(230, 0, 255));
}

.basic {
  background-image: linear-gradient(145deg, rgb(0, 162, 255), rgb(76, 0, 255));
}

.mini {
  background-image: linear-gradient(145deg, rgb(0, 255, 191), rgb(0, 147, 125));
}

/* layouts */
.btn-cols {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.section__img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}

.section__cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-auto-rows: minmax(auto, 1fr);
  gap: 2rem;
}

/* section */
.join-others {
  background-color: whitesmoke;
}

.join-box {
  background: var(--color-white);
  padding: 6rem;
  border-radius: 0.5rem;
}

/* footer */
.footer {
  padding: 6rem;
}

.footer__cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}

.footer__cols--item__heading {
  font-size: var(--step--1);
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.footer__link {
  text-decoration: none;
  font-size: var(--step--1);
  outline-offset: 0.25rem;
  color: var(--color-darkgrey);
  text-transform: capitalize;
}

.footer__link:hover {
  color: var(--color-dark);
}

.footer__link:focus {
  outline: 0.125rem dotted var(--color-dark);
}

.footer__copy--cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.footer__copy {
  color: var(--color-darkgrey);
  font-size: var(--step--1);
}

.footer__socialLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.footer__socialLink {
  color: var(--color-dark);
  font-size: var(--step--1);
}

.footer__socialLink:hover {
  color: var(--color-dark);
}

.footer__socialLink:focus {
  outline: 0.125rem dotted var(--color-dark);
}
